.table{
  background-color: beige;
}

       .home {
        background: rgb(83, 82, 82);
        grid-area: header;
      }
    
      .Products {
        background: rgb(93, 115, 123);
        grid-area: content-start;
      }
    
      .adverts {
        background: rgb(68, 77, 77);
        grid-area: advert;
      }
    
      .info {
        background: grey;
        grid-area: footer;
      }
      .item-1{
        background: grey;

      }
    
      .container {
        font-size: 1em;
        min-height: 300px;
        width: 100%;
        background: lightgray;
        display: grid;
        grid-template-columns: 1r;
        grid-template-rows: 20px auto 1fr auto;
        grid-gap: 10px;
        grid-template-areas:
          "home"
          ""
          "Products"
          "info";
         
      }
    
      @media (min-width: 300px){
        .container{
          grid-template-columns: auto 1fr;
          grid-template-rows: auto 1fr auto;
          grid-template-areas:
            "advert header"
            "advert content"
            "advert footer";
        }
      }
    
  
      
    
      